<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <context-param>
        <param-name>mail</param-name>
        <param-value>nak.nak.2017@mail.ru</param-value>
    </context-param>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/pages/error/error_500.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/pages/error/error_404.jsp</location>
    </error-page>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SetCookiesServlet</servlet-name>
        <servlet-class>by.mozolevskij.pharmacy.example.learning.session_cookies.servlets.SetCookiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetCookiesServlet</servlet-name>
        <url-pattern>/set-cookies</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetCookiesServlet</servlet-name>
        <servlet-class>by.mozolevskij.pharmacy.example.learning.session_cookies.servlets.GetCookiesServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCookiesServlet</servlet-name>
        <url-pattern>/get-cookies</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <servlet-class>by.mozolevskij.pharmacy.example.learning.session_cookies.servlets.DeleteCookiesServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <url-pattern>/delete-cookies</url-pattern>
    </servlet-mapping>

</web-app>